<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <form action="/edit" method="POST">
        <input name="id" th:value="${data.id}" style="display: none">
        <input name="title" th:value="${data.title}">
        <input name="price" th:value="${data.price}">
        <button type="submit">전송</button>
    </form>

    <form action="/order" method="post">
        <input name="title" th:value="${data.title}">
        <input name="price" th:value="${data.price}">
        <input name="count" placeholder="count">
        <button>주문하기</button>
    </form>
</body>
</html>